
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Hello Spring Security</title>
<meta charset="utf-8" />
</head>
<body>
	<style type="text/css">
div.search-results>div {
	border: 1px solid grey;
	padding: 5px;
	padding-left: 10px;
	border-radius: 4px;
	margin-bottom: 5px;
}
</style>
	<h1>Kundensuche</h1>
	<form th:action="@{/staff/customer/search}"
		th:object="${customerSearchCriteria}" method="post">
		<label for="searchText">Suchtext</label>: <input type="text"
			id="searchText" autofocus="autofocus" th:field="*{searchText}" /> <input
			type="submit" value="Suchen" />
	</form>
	<div class="search-results" th:if="${customerList != null}">
		<h2>Results</h2>
		<div th:each="customerEntity : ${customerList}">
			<h3 style="display: inline" th:text="${customerEntity.name}">Name</h3>
			&nbsp; <a href="#">Bearbeiten</a> | <a href="#">Reservierung
				anlegen</a><br />

			<table>
				<tr>
					<td>Rechnungsadresse</td>
					<td th:text="${customerEntity.billingAddress}">Haistraße 11</td>
				</tr>
				<tr>
					<td>Geschlecht</td>
					<td th:text="${customerEntity.sex.display}">Männlich</td>
				</tr>
				<tr>
					<td>Geburtsdatum</td>
					<td th:text="${#temporals.format(customerEntity.birthday,'dd.MM.yyyy')}">15.04.1987</td>
				</tr>
				<tr>
					<td>Firma</td>
					<td th:text="${customerEntity.companyName}">Firma</td>
				</tr>
				<tr>
					<td>Rabatt</td>
					<td><span th:text="${customerEntity.discount}">0.1</span>&nbsp;%</td>
				</tr>
				<tr>
					<td>Telefonnummer</td>
					<td th:text="${customerEntity.phoneNumber}">12345678</td>
				</tr>
				<tr>
					<td>Faxnummer</td>
					<td th:text="${customerEntity.faxNumber}">87654321</td>
				</tr>
				<tr>
					<td>Email</td>
					<td th:text="${customerEntity.email}">email@example.org</td>
				</tr>
				<tr>
					<td>Webadresse</td>
					<td th:text="${customerEntity.webAddress}">http://localhost</td>
				</tr>
				<tr>
					<td>Notiz</td>
					<td th:text="${customerEntity.note}">WTH</td>
				</tr>
			</table>

			<a href="#">0 Reservierung</a> | <a href="#">0 Rechnungen</a>
		</div>
	</div>
</body>
</html>
