lombok.addLombokGeneratedAnnotation = true
lombok.addJavaxGeneratedAnnotation = true
lombok.accessors.chain = true

# Block other loggers
lombok.log.apacheCommons.flagUsage = ERROR
lombok.log.javaUtilLogging.flagUsage = ERROR
lombok.log.jbosslog.flagUsage = ERROR
lombok.log.log4j.flagUsage = ERROR
lombok.log.log4j2.flagUsage = ERROR
