<html
        xmlns:th="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head><title>SESE - XP3</title>
    <link rel="stylesheet" type="text/css" href="menu.css"/>
</head>
<body>
<center>
    <div id="navcontainer" th:fragment="menu">
        <h2>Hotel management site</h2><br/><br/>
        <form id="logoutForm" action="#" th:action="@{/logout}" method="post">
        </form>
        <ul>
            <li sec:authorize="!isAuthenticated()"><a href="login" th:href="@{/login}">Login</a></li>
            <li sec:authorize="isAuthenticated()"><a href="#" onclick="document.getElementById('logoutForm').submit();">Logout</a></li>
            <li><a href="#">Search Room</a></li>
            <li sec:authorize="hasRole('CUSTOMER')"><a href="/customer/index" th:href="@{/customer/index}">customerEntity pages</a></li>
            <li sec:authorize="hasRole('STAFF')"><a href="/staff/index" th:href="@{/staff/index}">staff pages</a></li>
            <li sec:authorize="hasRole('STAFF')"><a th:href="@{/staff/customer/create}">Kunde anlegen</a></li>
            <!--<li><a href="#"></a></li>-->
        </ul><br/>
    </div>
</center>
</body>
</html>