<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Hello Spring Security</title>
    <link rel="stylesheet" type="text/css" href="menu.css"/>
    <meta charset="utf-8" />
</head>
<body>
<div th:insert="fragments/header :: menu"></div>
<center>
    <h1>Software Engineering Seminar</h1>
    <p>This is an unsecured page, but you can access the secured pages after authenticating.</p>
</center>
</body>
</html>

